<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>404 Error Page</title>

 
</head>
<body>
        {{>header}}

    {{!-- {{>header}} --}}
        {{!-- <img src="image-left.png" alt="image-left"> --}}
        <h1 >We can't find the page you are looking for.</h1>
        <span>This page has been relocated or removed.</span>

        <button ><i ></i> Go Home</button>
      
</body>
</html>