<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {{!-- <script src="/js/myweather.js"></script> --}}

</head>
<body>
    {{>header}}

      <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTACT</h2>
    <p class="w3-opacity w3-center"><i>WEATHER FORCAST IN YOUR CITY</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> location: {{location}}<br>
        <i class="fa fa-thermometer-empty" style="width:30px"></i> temperature: {{temperature}}<br>
        <i class="fa fa-thumbs-o-up" style="width:30px"></i> feel_like: {{feel_like}}<br>
        <i class="fa fa-id-card-o" style="width:30px"> </i> weather_descriptions: {{weather_descriptions}}<br>
      </div>
      <div class="w3-col m6">
       <img src="https://simpleicon.com/wp-content/uploads/cloudy.png" style="width: 200px;;height: 200px;;">

      </div>
    </div>
  </div>
  {{>footer}}

</body>
</html>