<!-- Footer -->
<footer class="w3-container w3-padding-8 w3-bottom w3-opacity w3-blue w3-xlarge ">
  {{!-- <i class="fa fa-facebook-official w3-hover-opacity w3-center"></i> --}}
  
  <p class="w3-medium w3-center">Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">Zubair Ul Amin</a></p>
</footer>