<!-- Navbar -->

<div class="w3-top">
    <div>

  <div class="w3-bar w3-white w3-card w3-center ">
     <a href="/">
            <img src="https://cdn2.iconfinder.com/data/icons/weather-flat-14/64/weather02-512.png" style="width:5%">

    </a>
</div>
<div  class="w3-center w3-white w3-card ">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
   
    <a href="/weather" class="w3-bar-item w3-button w3-padding-large w3-hide-small">WEATHER</a>
    <a href="/tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TOUR</a>
    <a href="/contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTACT</a>
   
  </div>
  </div>
    
</div>